---
interface Props {
	text: string
}

const { text } = Astro.props
---

<blockquote class="border-s-4 text-xl">
	<p class="italic">{text}</p>
</blockquote>

<style>
	blockquote {
		align-items: center;
		display: grid;
		min-block-size: 2lh;
	}
</style>

