---
const currentYear = new Date().getFullYear()
---

<span class="copyright">Copyright © 2020–{currentYear} NDRT</span>

<style>
	.copyright {
		color: var(--sl-color-gray-3);
		font-size: var(--sl-text-xs);
	}
</style>
